<body>
    <div  class="menu-container">
      <div class="dropdown">
        <button (click)="redirectToPasswordlessLogin()" class="button login">Passwordless login</button>
        <button (click)="redirectToLogin()" class="button login">Login</button>
        <button  (click)="logout()">Logout</button>
        <button  (click)="registration()">Registration</button>
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
         <button  (click)="administratorProfile()">Administrator profile</button> 
         <button  (click)="allUsers()">All users</button> 
         <button  (click)="allClients()">All clients</button> 
         <button  (click)="allEmployees()">All employees</button> 
         <button  (click)="registrationRequests()">Registration requests</button> 
         <button (click)="allAds()">All ads</button>
         <button (click)="allAdRequests()">All client's ad requests</button>
         <button (click)="clientProfile()">My profile</button>
         <button (click)="clientAds()">All client ads</button>
         <button (click)="createAdRequest()">Create ad request</button>
         <button (click)="permissionsManipulation()">Permissions manipulation</button>
         <button (click)="getAllAdminNotifications()">Notifications</button>
        </div>
      </div>
    </div>
</body>