<div class="container">
    <h1>Create ad</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="slogan">Slogan:</label>
            <input type="text" class="form-control" id="slogan" name="slogan" [(ngModel)]="slogan" required>
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>