<div>
    <div class="container">
<h1>My profile</h1>
<div>
    <p><strong>Email:</strong>{{ loggedUser.email }}</p>
    <p><strong>Name:</strong>{{ loggedUser.name }} </p>
    <p><strong>Surname:</strong>{{ loggedUser.surname }} </p>
    <p><strong>Address:</strong>{{ loggedUser.address}} </p>
    <p><strong>City:</strong>{{ loggedUser.city }}</p>
    <p><strong>Country:</strong>{{ loggedUser.country }} </p>
    <p><strong>Phone number:</strong>{{ loggedUser.phoneNumber}} </p>
    <button class="dugme" (click)="editProfile(loggedUser.email)">Edit</button>
</div>
</div>
</div>