<div>
    <form [formGroup]="passwordForm">
      <div>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" formControlName="newPassword">
      </div>
      <div>
        <label for="confirmPassword">Confirm new Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
      </div>
      <button type="submit" (click)="resetPassword()">Reset password</button>
      <div class="messageError">{{ message }}</div>
    </form>
  </div>
  
  <div *ngIf="messagePassword">{{ messagePassword }}</div>
  